*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #2C73D2, #008F7A);
    color: white;   
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}


/* .error-message{
    color: red;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
} */


form button{
    color: #2C73D2;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #2C73D2;
    color: white;
}

.todo-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 400px;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: firebrick;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}
.complete-btn{
    background: #008F7A;
}
.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.fa-trash:hover, .fa-check:hover{
    transform: scale(1.2);
}

.completed{
    text-decoration: line-through;
    opacity: 0.3;
    transition: all 0.5s ease;
}

.fall{
    transform: translate(8rem) rotateZ(20deg);
    opacity: 0;
}
