*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #2C73D2, #008F7A);
    color: white;   
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
.invalid .error-message{
    display: block;
}

.error-message{
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    display: none;
}

form button{
    color: #2C73D2;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #2C73D2;
    color: white;
}

.todo-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 400px;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: firebrick;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}
.complete-btn{
    background: #008F7A;
}
.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.fa-trash:hover, .fa-check:hover{
    transform: scale(1.2);
}

.completed{
    text-decoration: line-through;
    opacity: 0.3;
    transition: all 0.5s ease;
}

.fall{
    transform: translate(8rem) rotateZ(20deg);
    opacity: 0;
}

.popup{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: firebrick;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    animation: open 0.5s forwards;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2{
    margin: 30px 0 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0; 
    background: firebrick;
    color: #fff;  
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

#info-to-user{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008F7A;
}